In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression

In [3]:
deliveries = pd.read_csv('DataSet/deliveries.csv')
players = pd.read_excel('DataSet/Players.xlsx')
matches = pd.read_csv('DataSet/matches.csv')
most_runs_average_strikerate = pd.read_csv('DataSet/most_runs_average_strikerate.csv')

In [4]:
players

        Player_Name        DOB Batting_Hand           Bowling_Skill   Country
0    A Ashish Reddy 1991-02-24   Right_Hand        Right-arm medium     India
1        A Chandila 1983-12-05   Right_Hand      Right-arm offbreak     India
2          A Chopra 1977-09-19   Right_Hand      Right-arm offbreak     India
3       A Choudhary        NaT   Right_hand    Left-arm fast-medium       NaN
4       A Dananjaya        NaT   Right_Hand      Right-arm offbreak       NaN
..              ...        ...          ...                     ...       ...
561     Younis Khan 1977-11-29   Right_Hand        Right-arm medium  Pakistan
562       YS Chahal 1990-07-23   Right_Hand         Legbreak googly     India
563    Yuvraj Singh 1981-12-12    Left_Hand  Slow left-arm orthodox     India
564     YV Takawale 1984-11-05   Right_Hand                     NaN     India
565          Z Khan 1978-10-07   Right_Hand    Left-arm fast-medium     India

[566 rows x 5 columns]

In [5]:
matches

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [6]:
deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [7]:
new_df=deliveries[['match_id','batsman','batsman_runs']]

In [8]:
new_df

        match_id    batsman  batsman_runs
0              1  DA Warner             0
1              1  DA Warner             0
2              1  DA Warner             4
3              1  DA Warner             0
4              1  DA Warner             0
...          ...        ...           ...
179073     11415  RA Jadeja             1
179074     11415  SR Watson             2
179075     11415  SR Watson             1
179076     11415  SN Thakur             2
179077     11415  SN Thakur             0

[179078 rows x 3 columns]

In [9]:
batsman_score=new_df.groupby(['match_id','batsman'])['batsman_runs'].sum().reset_index()
batsman_score

       match_id      batsman  batsman_runs
0             1  A Choudhary             6
1             1  BCJ Cutting            16
2             1     CH Gayle            32
3             1    DA Warner            14
4             1     DJ Hooda            16
...         ...          ...           ...
11289     11415    RD Chahar             0
11290     11415    RG Sharma            15
11291     11415     SK Raina             9
11292     11415    SN Thakur             2
11293     11415    SR Watson            84

[11294 rows x 3 columns]

In [10]:
new_matches=matches[['id','Season']]
new_matches

        id    Season
0        1  IPL-2017
1        2  IPL-2017
2        3  IPL-2017
3        4  IPL-2017
4        5  IPL-2017
..     ...       ...
751  11347  IPL-2019
752  11412  IPL-2019
753  11413  IPL-2019
754  11414  IPL-2019
755  11415  IPL-2019

[756 rows x 2 columns]

In [11]:
batsman_score=batsman_score[['match_id','batsman','batsman_runs']].merge(new_matches,left_on='match_id',right_on='id',how='right').drop('id',axis=1)
batsman_score

       match_id      batsman  batsman_runs    Season
0             1  A Choudhary             6  IPL-2017
1             1  BCJ Cutting            16  IPL-2017
2             1     CH Gayle            32  IPL-2017
3             1    DA Warner            14  IPL-2017
4             1     DJ Hooda            16  IPL-2017
...         ...          ...           ...       ...
11289     11415    RD Chahar             0  IPL-2019
11290     11415    RG Sharma            15  IPL-2019
11291     11415     SK Raina             9  IPL-2019
11292     11415    SN Thakur             2  IPL-2019
11293     11415    SR Watson            84  IPL-2019

[11294 rows x 4 columns]

In [12]:
batsman_score.batsman_runs[(batsman_score['batsman']=='AB de Villiers') & (batsman_score['Season']=='IPL-2009')].sum()

465

In [13]:
most_runs_average_strikerate.total_runs[most_runs_average_strikerate.batsman=='V Kohli']

0    5426
Name: total_runs, dtype: int64

In [14]:
batsman_score.batsman_runs[batsman_score['batsman']=='V Kohli'].sum()

5434

In [15]:
most_runs_average_strikerate

            batsman  total_runs  out  numberofballs    average  strikerate
0           V Kohli        5426  152           4111  35.697368  131.987351
1          SK Raina        5386  160           3916  33.662500  137.538304
2         RG Sharma        4902  161           3742  30.447205  130.999466
3         DA Warner        4717  114           3292  41.377193  143.286756
4          S Dhawan        4601  137           3665  33.583942  125.538881
..              ...         ...  ...            ...        ...         ...
511        ND Doshi           0    1             13   0.000000    0.000000
512         J Denly           0    1              1   0.000000    0.000000
513         S Ladda           0    2              9   0.000000    0.000000
514  V Pratap Singh           0    1              1   0.000000    0.000000
515       S Kaushik           0    1              1   0.000000    0.000000

[516 rows x 6 columns]

In [16]:
batsman_score

       match_id      batsman  batsman_runs    Season
0             1  A Choudhary             6  IPL-2017
1             1  BCJ Cutting            16  IPL-2017
2             1     CH Gayle            32  IPL-2017
3             1    DA Warner            14  IPL-2017
4             1     DJ Hooda            16  IPL-2017
...         ...          ...           ...       ...
11289     11415    RD Chahar             0  IPL-2019
11290     11415    RG Sharma            15  IPL-2019
11291     11415     SK Raina             9  IPL-2019
11292     11415    SN Thakur             2  IPL-2019
11293     11415    SR Watson            84  IPL-2019

[11294 rows x 4 columns]

In [17]:
batsman_score1=batsman_score.groupby(['batsman','Season'])['batsman_runs'].sum().reset_index()
batsman_score1

             batsman    Season  batsman_runs
0     A Ashish Reddy  IPL-2012            35
1     A Ashish Reddy  IPL-2013           125
2     A Ashish Reddy  IPL-2015            73
3     A Ashish Reddy  IPL-2016            47
4         A Chandila  IPL-2012             0
...              ...       ...           ...
1808          Z Khan  IPL-2011            21
1809          Z Khan  IPL-2012            12
1810          Z Khan  IPL-2014             8
1811          Z Khan  IPL-2016             6
1812          Z Khan  IPL-2017             4

[1813 rows x 3 columns]

In [18]:
batsman_score1.Season=batsman_score1.Season.str.extract('(\d+)')
batsman_score1

             batsman Season  batsman_runs
0     A Ashish Reddy   2012            35
1     A Ashish Reddy   2013           125
2     A Ashish Reddy   2015            73
3     A Ashish Reddy   2016            47
4         A Chandila   2012             0
...              ...    ...           ...
1808          Z Khan   2011            21
1809          Z Khan   2012            12
1810          Z Khan   2014             8
1811          Z Khan   2016             6
1812          Z Khan   2017             4

[1813 rows x 3 columns]

In [19]:
most_runs_average_strikerate['Id']=range(0,most_runs_average_strikerate.shape[0])
most_runs_average_strikerate

,batsman,total_runs,out,numberofballs,average,strikerate,Id
0,V Kohli,5426,152,4111,35.697368,131.987351,0
1,SK Raina,5386,160,3916,33.662500,137.538304,1
2,RG Sharma,4902,161,3742,30.447205,130.999466,2
3,DA Warner,4717,114,3292,41.377193,143.286756,3
4,S Dhawan,4601,137,3665,33.583942,125.538881,4
...,...,...,...,...,...,...,...
511,ND Doshi,0,1,13,0.000000,0.000000,511
512,J Denly,0,1,1,0.000000,0.000000,512
513,S Ladda,0,2,9,0.000000,0.000000,513
514,V Pratap Singh,0,1,1,0.000000,0.000000,514
515,S Kaushik,0,1,1,0.000000,0.000000,515

In [20]:
first=most_runs_average_strikerate.pop('Id')
most_runs_average_strikerate.insert(1,'Id',first)

In [21]:
most_runs_average_strikerate

,batsman,Id,total_runs,out,numberofballs,average,strikerate
0,V Kohli,0,5426,152,4111,35.697368,131.987351
1,SK Raina,1,5386,160,3916,33.662500,137.538304
2,RG Sharma,2,4902,161,3742,30.447205,130.999466
3,DA Warner,3,4717,114,3292,41.377193,143.286756
4,S Dhawan,4,4601,137,3665,33.583942,125.538881
...,...,...,...,...,...,...,...
511,ND Doshi,511,0,1,13,0.000000,0.000000
512,J Denly,512,0,1,1,0.000000,0.000000
513,S Ladda,513,0,2,9,0.000000,0.000000
514,V Pratap Singh,514,0,1,1,0.000000,0.000000
515,S Kaushik,515,0,1,1,0.000000,0.000000

In [22]:
batsman_score1.groupby(['batsman'])['batsman_runs'].sum().reset_index().sort_values(by=['batsman_runs'], ascending=False)

         batsman  batsman_runs
486      V Kohli          5434
428     SK Raina          5415
367    RG Sharma          4914
112    DA Warner          4741
392     S Dhawan          4632
..           ...           ...
172    IC Pandey             0
182      J Denly             0
326        P Raj             0
463  Sunny Gupta             0
235     L Ablish             0

[516 rows x 2 columns]

In [23]:
final_dataset=most_runs_average_strikerate[['batsman','Id']].merge(batsman_score1,left_on='batsman',right_on='batsman',how='right')
final_dataset

             batsman   Id Season  batsman_runs
0     A Ashish Reddy  146   2012            35
1     A Ashish Reddy  146   2013           125
2     A Ashish Reddy  146   2015            73
3     A Ashish Reddy  146   2016            47
4         A Chandila  454   2012             0
...              ...  ...    ...           ...
1808          Z Khan  216   2011            21
1809          Z Khan  216   2012            12
1810          Z Khan  216   2014             8
1811          Z Khan  216   2016             6
1812          Z Khan  216   2017             4

[1813 rows x 4 columns]

In [24]:
final_dataset['Season'] = final_dataset['Season'].astype(int)

In [25]:
final_dataset

             batsman   Id  Season  batsman_runs
0     A Ashish Reddy  146    2012            35
1     A Ashish Reddy  146    2013           125
2     A Ashish Reddy  146    2015            73
3     A Ashish Reddy  146    2016            47
4         A Chandila  454    2012             0
...              ...  ...     ...           ...
1808          Z Khan  216    2011            21
1809          Z Khan  216    2012            12
1810          Z Khan  216    2014             8
1811          Z Khan  216    2016             6
1812          Z Khan  216    2017             4

[1813 rows x 4 columns]

In [26]:
x=final_dataset[['Id','Season']].values
y=final_dataset[['batsman_runs']].values
print(x)

[[ 146 2012]
 [ 146 2013]
 [ 146 2015]
 ...
 [ 216 2014]
 [ 216 2016]
 [ 216 2017]]

In [27]:
final_dataset.dtypes

batsman         object
Id               int64
Season           int32
batsman_runs     int64
dtype: object

In [28]:
LR = LinearRegression()
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.10,random_state=0)
LR.fit(x_train , y_train)
y_pred=LR.predict(x_test)
y_test

array([[249],
       [ 72],
       [ 68],
       [ 86],
       [297],
       [  8],
       [  3],
       [  9],
       [552],
       [  0],
       [285],
       [150],
       [189],
       [250],
       [365],
       [ 42],
       [371],
       [346],
       [  4],
       [333],
       [108],
       [ 34],
       [ 58],
       [117],
       [ 25],
       [  6],
       [339],
       [ 28],
       [167],
       [  4],
       [105],
       [  2],
       [  0],
       [  0],
       [511],
       [233],
       [112],
       [ 39],
       [ 36],
       [ 72],
       [152],
       [186],
       [103],
       [404],
       [184],
       [356],
       [144],
       [ 26],
       [432],
       [310],
       [  8],
       [ 14],
       [ 20],
       [  0],
       [ 61],
       [  1],
       [283],
       [ 23],
       [393],
       [ 15],
       [ 26],
       [  0],
       [ 42],
       [  0],
       [229],
       [ 16],
       [378],
       [  2],
       [442],
       [472],
       [ 11],
       [ 27],
       [ 13],
       [108],
       [  2],
       [  9],
       [  4],
       [111],
       [ 31],
       [ 67],
       [ 83],
       [354],
       [ 45],
       [203],
       [192],
       [259],
       [109],
       [ 60],
       [ 18],
       [  1],
       [158],
       [325],
       [ 28],
       [ 11],
       [ 53],
       [  1],
       [153],
       [ 34],
       [146],
       [418],
       [  0],
       [ 12],
       [  4],
       [ 39],
       [233],
       [ 24],
       [  1],
       [ 11],
       [  0],
       [103],
       [108],
       [168],
       [  1],
       [  2],
       [ 16],
       [542],
       [ 13],
       [  5],
       [339],
       [  5],
       [ 52],
       [311],
       [ 17],
       [  8],
       [405],
       [ 47],
       [ 10],
       [ 77],
       [  8],
       [ 18],
       [ 14],
       [ 63],
       [ 60],
       [  2],
       [278],
       [ 45],
       [120],
       [  1],
       [255],
       [ 15],
       [523],
       [145],
       [  0],
       [ 81],
       [ 55],
       [311],
       [ 37],
       [114],
       [ 46],
       [111],
       [ 35],
       [417],
       [180],
       [101],
       [  1],
       [  1],
       [237],
       [183],
       [  0],
       [ 62],
       [  4],
       [ 92],
       [311],
       [ 40],
       [ 27],
       [  4],
       [221],
       [  6],
       [136],
       [ 34],
       [  9],
       [  2],
       [246],
       [211],
       [ 30],
       [  1],
       [639],
       [  5],
       [164],
       [ 76],
       [ 19],
       [ 75]], dtype=int64)

In [29]:
y_pred

array([[ 229.70388025],
       [ 230.428595  ],
       [ 216.68894783],
       [ 164.53941893],
       [ 252.40950204],
       [ 186.22099528],
       [ 105.14274253],
       [ 194.3125898 ],
       [ 211.70574379],
       [  16.66767695],
       [ 202.22458591],
       [ 153.57889848],
       [ 194.85770614],
       [ 184.31624864],
       [ 203.5842162 ],
       [  36.14517598],
       [ 243.59319277],
       [ 197.81643127],
       [ 130.62749104],
       [ 231.8780245 ],
       [ 145.03198683],
       [  82.52691995],
       [ 160.19113043],
       [  83.2516347 ],
       [ 141.22881467],
       [ 163.00019022],
       [ 237.82540784],
       [ 129.69324481],
       [ 110.0960135 ],
       [ 133.3766847 ],
       [ 184.77156578],
       [ 106.68197124],
       [ 109.37129875],
       [  51.5737172 ],
       [ 227.79913362],
       [ 178.97384778],
       [  96.29650019],
       [ 150.70997255],
       [ 156.50769055],
       [ 213.73022269],
       [ 218.95289128],
       [ 156.56755668],
       [ 175.58973858],
       [ 240.5746015 ],
       [ 236.92109468],
       [ 232.60273925],
       [ 233.29752093],
       [  40.49346448],
       [ 213.09530715],
       [ 216.14383149],
       [ -56.28904821],
       [ 114.65383348],
       [ 136.91045924],
       [-110.64265443],
       [ 153.03378214],
       [ -16.6093354 ],
       [ 219.58780683],
       [  48.49525979],
       [ 222.63633117],
       [  83.37136698],
       [ 149.23060998],
       [-124.65169922],
       [  33.42591539],
       [ -35.36211968],
       [ 203.82368075],
       [ 195.12710375],
       [ 236.98096082],
       [ -55.83373108],
       [ 251.65485422],
       [ 231.36284123],
       [ -41.9144855 ],
       [ 181.32759044],
       [ -45.02287597],
       [ 241.56871386],
       [ 212.43045854],
       [  98.71010899],
       [ -95.75290844],
       [ 236.226313  ],
       [  91.34322922],
       [ 215.20958526],
       [ 227.01455273],
       [ 240.02948516],
       [ 196.48673405],
       [ 187.18517457],
       [ 204.27899788],
       [ 183.47180162],
       [ 149.20067691],
       [ 126.09960413],
       [  76.72920196],
       [  25.3043878 ],
       [ 145.00205376],
       [ 239.96961902],
       [ 190.68901605],
       [  51.45398493],
       [ 109.64069637],
       [   4.55705768],
       [ 202.97923372],
       [   6.43187125],
       [ 217.47352871],
       [ 229.06896471],
       [   8.00103302],
       [ -37.50633086],
       [ -81.65406445],
       [  88.47430329],
       [ 229.97327787],
       [ 216.05403228],
       [ -47.10722102],
       [ -54.44416772],
       [ 149.44014146],
       [ 140.50409992],
       [ 187.73029091],
       [ 215.87443387],
       [-107.13881296],
       [ -55.07908326],
       [  11.53480756],
       [ 252.4394351 ],
       [   3.7724768 ],
       [ -35.33218661],
       [ 240.69433377],
       [  50.78913631],
       [ 151.55441957],
       [ 156.44782441],
       [ 155.93264114],
       [ -12.95582858],
       [ 248.09114661],
       [  93.51737347],
       [  -9.42205404],
       [ 226.22997185],
       [ -61.63144908],
       [ 176.07498878],
       [  18.81188813],
       [ 195.09717068],
       [ 151.67415185],
       [ -34.87686948],
       [ 134.76624806],
       [ 179.75842867],
       [ 216.02409922],
       [  31.22183807],
       [ 236.28617914],
       [  65.46302971],
       [ 247.21676652],
       [ 165.26413368],
       [  23.19010969],
       [  60.81541053],
       [ 169.79202058],
       [ 229.79367946],
       [ 218.83315901],
       [ 186.16112914],
       [  54.98775947],
       [ 139.86918437],
       [  82.70651836],
       [ 246.64171711],
       [ 157.26233836],
       [ 181.35752351],
       [ 160.40066191],
       [ -99.77193319],
       [ 196.54660018],
       [ 128.24381531],
       [ -27.56985585],
       [ 172.45141504],
       [  95.84118306],
       [ 193.64774118],
       [ 243.5632597 ],
       [  23.10031049],
       [ 144.1875398 ],
       [ -92.1293347 ],
       [ 155.72310966],
       [ -63.59606185],
       [ 234.14196796],
       [ 113.86925259],
       [  94.18222208],
       [ -26.75534189],
       [ 239.24490427],
       [ 177.76388283],
       [  92.18767624],
       [  35.65992578],
       [ 246.4621187 ],
       [  49.97462236],
       [ 180.54300955],
       [ 126.00980493],
       [  49.30977375],
       [ 159.46641568]])

In [33]:
batsman_name=input("Enter the Batsman Name to predict")
season=int(input("In which season should u predict"))
Id=final_dataset.Id[final_dataset['batsman']==batsman_name].unique()[0]
y_pred1=LR.predict([[Id,season]])
print(batsman_name,"could score ",int(y_pred1),"runs in",season,"Season")

V Kohli could score  264 runs in 2025 Season